<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topup</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body style="	background-color: rgb(219 234 254);">
    <div class="container mx-auto p-4 pt-6 mt-10">
        <div class="fixed top-0 right-0 p-4 bg-white rounded-lg shadow-md">
            <div class="flex justify-center items-center">
                <p class="text-gray-700 mr-4">Wallet Address: <span id="user-address">0x123</span></p>
                <p class="text-gray-700">ETH: <span id="user-balance">0.00</span></p>
            </div>
        </div>
        <div class="flex justify-center items-center mb-4 mt-16">
            <h1 class="text-3xl font-bold">Topup</h1>
        </div>
        <div class="flex flex-wrap justify-center mb-6">
            <div class="w-full md:w-1/2 xl:w-1/3 p-6 bg-white rounded-lg shadow-md">
                <h2 class="text-xl font-bold mb-2">Your Balance</h2>
                <div class="flex flex-wrap mb-4 justify-end">
                    <div class="w-full p-4 bg-yellow-200 rounded-lg shadow-md">
                        <p class="text-gray-700 text-lg font-bold mb-2">USDC:</p>
                        <p class="text-gray-700 text-lg">$0.00</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap justify-center mb-6">
            <div class="w-full md:w-1/2 xl:w-1/3 p-6 bg-white rounded-lg shadow-md">
                <h2 class="text-xl font-bold mb-2 text-center">Topup</h2>
                <div class="flex flex-wrap mb-4">

                    <div class="w-full p-4">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="spender">
                            Spender
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="spender" type="text" placeholder="Enter spender" value="0x5f81cB9cebD5be59138e681736F1439B154e2c51">
                    </div>

                    <div class="w-full p-4">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="amount">
                            Amount
                        </label>
                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="amount" type="number" placeholder="Enter amount">
                    </div>

                </div>
                <div class="flex justify-center">
                    <button class="bg-gray-400 font-bold py-2 px-4 rounded" id="topup">
                        Topup
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="module">
import { ethers } from 'https://unpkg.com/ethers@6.13.2/dist/ethers.min.js';

const USDT_ABI = [
    'function balanceOf(address) view returns (uint)',
    'function approve(address _spender, uint256 _value) public returns (bool success)',
    'function allowance(address owner, address spender) external view returns (uint256)',
];

const PAYMENT_ABI = [
    'function topup(uint256 _amount, address _spender) external',
];

let usdt_contract_address;
let payment_contract_address;
if(window.location.hostname == '127.0.0.1'){
    usdt_contract_address = '0x5FbDB2315678afecb367f032d93F642f64180aa3';
    payment_contract_address = '0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512';
}else{
}


document.getElementById('topup').addEventListener('click', async function() {
    const provider = new ethers.BrowserProvider(window.ethereum);
    const signer = await provider.getSigner();
    const usdt_contract = new ethers.Contract(usdt_contract_address, USDT_ABI, signer);
    const payment_contract = new ethers.Contract(payment_contract_address, PAYMENT_ABI, signer);
    const spender = document.getElementById('spender').value;
    const amount = document.getElementById('amount').value;

    if (!spender || !amount) {
        alert('Please fill in both spender and amount fields.');
        return;
    }

    const allowance = await usdt_contract.allowance(window.ethereum.selectedAddress, payment_contract_address);
    if (allowance < ethers.parseUnits(amount, 6)) {
        await usdt_contract.approve(payment_contract_address, ethers.parseUnits(amount, 6));
    }

    payment_contract.topup(ethers.parseUnits(amount, 6), spender)
        .then((tx) => {
            console.log(tx);
            alert('Topup successful!');
        })
        .catch((error) => {
            console.error(error);
            alert('Topup failed.');
        });
});

</script>
</html>



